@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
}
ul {
    padding: 0;
    margin: 0;
}
.fixed {
    position: fixed;
}


/* index HTML */

.header {
    width: 100%;
}

.main {
    width: 100%;
}
.contant-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
}
.card_1 {
    background-image: url('../assets/cards/1.png');
}
.card_2 {
    background-image: url('../assets/cards/2.png');
}
.chips {
    display: flex;
    column-gap: 5px;
    margin: 16px 0;
    justify-content: space-between;
    top: 0;
}
.chips__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 12px;
    padding: 0 20px;
    background: #F2F1F0;
    font-size: 15px;
    line-height: 20px;
}
.chips__btn_1 {
}
.chips__btn_2 {
}
.chips__btn_3 {
}
.chips__btn_4 {
}
.chips__btn_activ {
    background: #965EEB;
    color: #fff;
}



.logo-header{
    background-image: url('../assets/logo_header.png');
    background-repeat: no-repeat;
    height: 175px;
}


main {
    height: 100%;
    position: relative;
    top: -80px;
}



















.nav__item::before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 5px;
}
.nav__item_icon-basket::before {
    background-image: url('../assets/icon/basket.png');
}
.nav__item_icon-profil::before {
    background-image: url('../assets/icon/profil.png');
}
.nav__item_icon-home::before {
    background-image: url('../assets/icon/profil.png');
}




.register-box {
    height: 100vh;
    justify-content: space-between;
    margin-bottom: 64px;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.form-input {
    max-width: 335px;
    height: 52px;
    border-radius: 16px;
}
label {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.form-input_btn {
    background: #00AAFF;
    color: #fff;
}
.sign_h1 {
    text-align: center;
}
.nav__item-profil_activ {
    background: #E3E2E1;
}




.code-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.code-form__input {
    text-align: center;
    border: none;
    outline: none;
    font-size: 60px;
    width: 100%;
}
.code_h1 {
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 52px;
    background: #F2F1F0;
    border-radius: 16px;
}



/* check HTML */

.check-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.check-box__img {
    background-image: url('../assets/check.png');
    height: 299px;
    width: 100%;
}
.check-box__text {
    padding: 0 20px;
    margin-bottom: 80px;
}
.check-box__title {
    text-align: center;
}
.check-box__p {
    text-align: center;
}
.check-box__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 10px;
}
.check-box__btn {
    text-decoration: none;
}
.check-box__btn_color {
    background: #00AAFF;
    color: #fff;
}




/* choice HTML */

.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.choice__pages {
    background-position: center;

    background-repeat: no-repeat;
    height: 16px;
    width: 100%;
}
.page1 {
    background-image: url('../assets/page.png');
}
.page2 {
    background-image: url('../assets/page2.png');
}
.choice__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;

    text-align: center;

    color: #000000;

}
.choice__contant {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.choice-tasty {
}
.choice__buttons {
}
.choice__btn {
}
.button {
}
.choice_unactiv {
    display: none;
}


/* coffee-cards */

.coffee-cards-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
}
.coffee-card {
    max-width: 159px;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
}
.coffee-card_1 {
    background-image: url('../assets/coffee-card1.png');
}
.coffee-card_2 {
    background-image: url('../assets/coffee-card2.png');
}



@media screen and (min-width: 375px) {

    .container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .wrapper {
        height: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .card {
        max-width: 165px;
        width: 100%;
        height: 260px;
        border-radius: 16px;
        background-repeat: no-repeat;
    }

    .chips {
        max-width: 375;
    }

    .chips__btn {

        padding: 0 14px;

    }
    .nav {
        background: #F2F1F0;
        height: 52px;
    }
    .nav__list {
        display: flex;
        height: 100%;
        width: 100%;
    }
    .nav__item {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        flex: 1;
    }
    .nav__link {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        text-decoration: none;
    }
    .nav__item_border {
        border-left: 1px solid #E3E2E1;
        border-right: 1px solid #E3E2E1;
    }






}

@media screen and (min-width: 400px) {
    .container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .card {
        max-width: 185px;
        background-size: cover;
        height: 292px;
    }
    .coffee-card {
        max-width: 185px;
        background-size: contain;
        height: 292px;
    }
    .chips {
        max-width: 400px;
    }
    .chips__btn {
        padding: 0 20px;
    }
}

.profil-header {
    background: radial-gradient(50% 50% at 50% 50%, #FF9EC2 0%, rgba(255, 255, 255, 0) 188.54%);
    height: 190px;
}
main {
    position: unset;
}
.greating {

    display: flex;
    justify-content: space-between;
}
.greating__contant {
}
.greating__title {
}
.greating__text {
}
.greating__edit {
}
.profil {
}
.profil-box {
    position: absolute;
    top: 133px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}
.profil-card {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    padding: 16px;
    margin: 0 16px;
}
.profil-card__info {
    display: flex;
    flex-direction: column;
}
.profil-card__title {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: #292929;
}
.profil-card__price {
    margin: 5px 0 19px 0;
}
.profil-card__text {
}
.profil-card__qcode {
}

.profil-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.profil__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 335px;
    height: 52px;
    left: 20px;
    top: 107px;
    background: #F7F7F5;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}
.icon {
    width: 7px;
    height: 14px;
    background-image: url('../assets/icon/right.png');
    background-repeat: no-repeat;
}



